{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
	<style>
		.col-3 {
		
			border-radius: 5px;
			width:230px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			padding: 10px;
		  }
		  .col-9 {
		    color:white;
			border-radius: 5px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
			padding: 10px;
		  }
		  h3 {
			color: #007bff;
			font-weight: bold;
			margin-bottom: 20px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;
		  }
		  .text-success {
			color: #28a745;
			font-weight: bold;
			margin-bottom: 10px;
		  }
		  .table-bordered {
			width: 100%;
			border-collapse: collapse;
			
			border: 1px solid black;
		  }

		  .table-bordered th {
			padding: 10px;
		
			color: white;
			border: 1px solid transparent;
		  }

		  .table-bordered td {
			padding: 10px;
			border: 1px solid transparent;
		  }
		  /* Custom CSS styles for the form input fields */
		  input[type="text"],
		  textarea {
			border-radius: 5px;
			transition: border-color 0.3s, background-color 0.3s;
			background-color: transparent;
			color: white;
			border: 1px solid #ccc;
			padding: 10px;
			width: 100%;
		  }
	  
		  /* Change the border color when the input field is in focus */
		  input[type="text"]:focus,
		  textarea:focus {
			border-color: #007bff;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		  }
	  
		  input[type="email"] {
			border-radius: 5px;
			transition: border-color 0.3s, background-color 0.3s;
			background-color: transparent;
			color: white;
			border: 1px solid #ccc;
			padding: 10px;
			width: 100%;
		  }
	  
		  /* Change the border color when the email input field is in focus */
		  input[type="email"]:focus {
			border-color: #007bff;
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		  }
		  input:invalid {
			color: white;
			background-color: #f00; /* Set the background color to white */
			padding: 5px;
			border-radius: 5px;
		  }
		  /* Custom CSS styles for the form submit button */
		  .btn-primary {
			border-radius: 5px;
			padding: 10px 20px;
		  }




	</style>
	
    <main>
		<!-- Services -->
		<section class="container my-4">
			<div class="row">
				<div class="col-3">
					{% include 'user/left-sidebar.html' %}
				</div>
				<div class="col-9">
					<h3 class="mb-4 border-bottom pb-1">Update Profile</h3>
                    {%if msg%}
                    <p class=" text-success">{{msg}}</p>
                    {%endif%}
					<form method="post" action="">
						<table class="table table-bordered">
							{% csrf_token %}
							{{form.as_table}}
							<tr>
								<td colspan="2">
									<input type="submit" class="btn btn-primary" />
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}